/* Подключение декоративных изображений */
.profile-link::before {
  content: url("../images/person.svg");
}

.compare-link::before {
  content: url("../images/charts.svg");
}

.cart-link::before {
  content: url("../images/cart.svg");
}

.catalog-button::before {
  content: url("../images/plus.svg");
}

.slider-prev::before {
  content: url("../images/arrow-left.svg");
}

.slider-next::before {
  content: url("../images/arrow-right.svg");
}

.special-delivery::before {
  content: url("../images/truck.svg");
}

.search-form::before {
  content: url("../images/magnifier.svg");
}

.newsletter-info::before {
  content: url("../images/ok.svg");
}

.sort-button-up::before {
  content: url("../images/arrow-up.svg");
}

.sort-button-down::before {
  content: url("../images/arrow-down.svg");
}

.social-button-facebook::before {
  content: url("../images/facebook.svg");
}

.social-button-instagram::before {
  content: url("../images/instagram.svg");
}

.social-button-twitter::before {
  content: url("../images/twitter.svg");
}

/* Подключение шрифтов */
@font-face {
  font-family: Raleway;
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 400;
  font-style: normal;

  src: url("../fonts/rubik//rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 700;
  font-style: normal;

  src: url("../fonts/rubik//rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: Rubik;
  font-weight: 800;
  font-style: normal;

  src: url("../fonts/rubik//rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* Переменные для стилей */
:root {
  --color-black: #000000;
  --color-dark: #444444;
  --color-grey: #dcdcdc;
  --color-lightgrey: #ebebeb;
  --color-light: #f0f0f0;
  --color-white: #ffffff;
  --color-yellow: #ffe17f;
  --color-dark-yellow: #ffc700;
  --color-purple: #af4fff;
  --color-error: #ff3d3d;
  --color-warning: #fd912e;
  --color-success: #08af00;

  --font-main: Rubik, sans-serif;
  --font-secondary: Raleway, sans-serif;
}

/* Общие стили */

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin: 0;
  padding: 0;
  color: var(--color-dark);
  background-color: var(--color-white);
  font-family: var(--font-main);
  font-size: 18px;
  line-height: 30px;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--color-yellow);
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 21px;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

/* Стили для главной страницы */

.main-index {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

/* Стили для главной шапки страницы */

.page-header {
  position: relative;
  box-sizing: border-box;
  margin-top: 40px;
  padding: 43px 60px 22px;
  background-color: var(--color-yellow);
}

.header-logo {
  position: absolute;
}

.header-first-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}

.header-second-row {
  display: flex;
}

.search-form {
  display: flex;
  width: 517px;
}

.search-input {
  width: 100%;
  background-color: inherit;
}

.search-input::placeholder {
  color: var(--color-black);
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.search-button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
}

.auth-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 231px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.sale-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 241px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-link {
  text-decoration: none;
  color: var(--color-black);
}

.cart-count {
  min-width: 21px;
  height: 21px;
  text-align: center;
  border-radius: 50%;
  background: var(--color-white);
  font-size: 14px;
  line-height: 21px;
}

.compare-link {
  margin-left: auto;
  text-decoration: none;
  color: var(--color-black);
}

.catalog-title {
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 21px;
}

.catalog-link {
  text-decoration: none;
}

.content-nav {
  width: 471px;
  margin-left: auto;
}

.content-nav-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.content-nav-link {
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 21px;
}

/* Стили для раздела промо-акции */

.promo {
  display: grid;
  grid-template-columns: repeat(2, 560px);
  column-gap: 40px;
  margin-bottom: 108px;
}

.promo-gallery {
  grid-row: 1 / 3;
  grid-column: 1 / 2;
  z-index: 2;
}

.promo-content {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.promo-count {
  grid-row: 1 / 1;
  grid-column: 1 / -1;
  text-align: right;
  color: var(--color-white);
  background-color: var(--color-yellow);
  font-size: 180px;
  font-weight: 700;
  line-height: 180px;
}

.promo-title {
  margin: 0;
  margin-bottom: 29px;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.promo-desc {
  margin: 0;
  margin-bottom: 61px;
}

.promo-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 59px;
}

.promo-list {
  display: flex;
  flex-wrap: wrap;
}

.promo-item {
  display: flex;
  flex-direction: column;
}

.promo-item:not(:last-child) {
  margin-right: 20px;
}

.promo-list-title {
  color: var(--color-dark);
  font-size: 16px;
  order: 2;
}

.promo-list-data {
  margin: 0;
  font-size: 36px;
  order: 1;
  margin-bottom: 12px;
}

.slider-pagination {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.slider-pagination-item:not(:last-child) {
  margin-right: 20px;
}

/* Стили для категорий */

.categories {
  margin-bottom: 70px;
}

.categories-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(6, 160px);
  gap: 40px;
}

.categories-link {
  display: block;
  text-decoration: none;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 24px;
}

.categories-cover {
  margin-bottom: 33px;
  background-color: var(--color-yellow);
}

.categories-link::before {
  display: block;
  width: 100%;
  height: 100%;
}

/* Стили для аккордеона особенностей */

.features-accordion {
  margin-bottom: 70px;
  padding-bottom: 72px;
  background-color: var(--color-light);
  margin-top: 102px;
}

.accordion-wrapper {
  display: flex;
  margin-top: -102px;
}

.accordion-preview-list {
  margin: 0;
  margin-left: 116px;
  padding: 0;
  list-style-type: none;
  width: 100%;
}

.accordion-preview-item {
  display: grid;
  grid-template-columns: 475px auto;
  justify-content: space-between;
  padding-top: 72px;
}

.accordion-preview-title {
  margin: 0;
  margin-bottom: 34px;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.accordion-preview-desc {
  margin: 0;
}

.accordion-delivery::after {
  display: block;
  content: url("../images/postman.svg");
  grid-row: 1 / 3;
  grid-column: 2 / 3;
}

.accordion-select-list {
  width: 270px;
  flex-shrink: 0;
  margin: 0;
  padding: 64px 0;
  list-style-type: none;
  border-right: 7px solid var(--color-black);
}

.accordion-select-item:not(:last-child) {
  margin-bottom: 45px;
}

.accordion-button {
  line-height: 22px;
  font-size: inherit;
  font-family: var(--font-secondary);
  font-weight: 800;
  letter-spacing: 0.2em;
  border: 0;
  text-transform: uppercase;
  background-image: url("../images/yellow-rect.svg");
  background-repeat: repeat-x;
  background-position-y: 50%;
  background-color: transparent;
  min-width: 160px;
  box-sizing: border-box;
  padding: 10px 20px;
  text-align: start;
}

.accordion-button-active {
  color: var(--color-yellow);
  background-color: var(--color-black);
  background-image: none;
  width: 100%;
}

/* Стили для раздела специальной доставки */

.special-delivery {
  display: flex;
  margin-bottom: 70px;
  background-color: var(--color-light);
}

.special-delivery::before {
  display: block;
  width: 125px;
  height: 100px;
}

.special-delivery-text {
  flex-grow: 1;
  margin: 40px 0;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 20px;
  font-weight: 800;
  line-height: 23px;
  line-height: 23px;
  line-height: 21px;
}

.special-delivery-button {
  background-image: url("../images/info.svg");
  background-repeat: no-repeat;
  background-position: center center;
  width: 40px;
  height: 40px;
  padding: 30px 42px;
}

/* Разделы с информацией о магазине и контактах */

.credentials-wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}

.credentials-title {
  margin: 0;
  margin-bottom: 48px;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.credentials-paragraph {
  margin: 0;
  margin-bottom: 30px;
}

.about {
  width: 497px;
}

.credentials-dash {
  margin: 0;
  margin-bottom: 40px;
}

.about-item {
  margin-bottom: 40px;
  letter-spacing: -0.02em;
  color: var(--color-black);
  font-weight: 700;
  line-height: 20px;
}

.about-item:not(:last-child) {
  margin-bottom: 19px;
}

.about-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--color-yellow);
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 21px;
}

.contacts {
  width: 509px;
}

.contacts-title {
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.contacts-subtitle {
  margin: 0;
  margin-bottom: 15px;
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
}

.store-paragraph {
  margin: 0;
  white-space: nowrap;
}

.store-address {
  margin-bottom: 30px;
  font-style: normal;
}

.contacts-phone {
  color: inherit;
}

.schedule-list {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  list-style-type: none;
}

.schedule-title {
  color: var(--color-black);
  font-size: 24px;
  font-weight: 700;
}

.schedule-link {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--color-black);
  background-color: var(--color-yellow);
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 21px;
}

/* Стили для "Подпишитесь на рассылку" */

.newsletter {
  padding-top: 74px;
  padding-bottom: 56px;
  background-color: var(--color-light);
}

.newsletter-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.newsletter-title {
  width: 50%;
  margin: 0;
  margin-bottom: 144px;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.newsletter-description {
  width: 50%;
  margin: 0;
}

.newsletter-form {
  width: 810px;
}

.newsletter-info {
  margin: 0;
}

.newsletter-input {
  background-color: inherit;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.newsletter-button {
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: inherit;
  font-weight: 800;
  line-height: 21px;
}

/* Стили для главного подвала страницы */

.page-footer {
  padding-top: 62px;
  padding-bottom: 61px;
  color: var(--color-white);
  background-color: var(--color-dark);
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 148px;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}

.footer-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-links {
  width: 444px;
}

.footer-link {
  text-decoration: none;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: inherit;
  font-family: var(--font-secondary);
  font-weight: 800;
  line-height: 21px;
}

.footer-nav {
  margin-bottom: 62px;
}

.footer-contacts {
  width: 175px;
}

.footer-phone {
  color: inherit;
  font-size: 16px;
  line-height: 20px;
}

.social-list {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  margin: 0;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
}

.social-item:not(:nth-child(3n)) {
  margin-right: 15px;
}

.social-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 15px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.3);
}

/* Стили для страницы каталога */

.main-catalog {
  flex-grow: 1;
}

/* Стили дополнительной шапки */

.subheader-container {
  box-sizing: border-box;
  padding: 35px 60px;
}

.subheader-title {
  margin: 0;
  margin-bottom: 16px;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 50px;
  font-weight: 800;
  line-height: 50px;
}

.breadcrumbs-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item:not(:last-child) {
  margin-right: 36px;
}

.breadcrumbs-link {
  text-decoration: none;
  color: var(--color-black);
  font-size: 16px;
  line-height: 19px;
}

/* Стили для продуктов */

.catalog-products {
  background-color: var(--color-light);
}

.filter-products-wrapper {
  display: flex;
  box-sizing: border-box;
  padding-top: 25px;
  padding-left: 60px;
}

.filter-header {
  margin: 0;
  margin-bottom: 60px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
}

.filter-dash {
  margin: 0;
  margin-bottom: 12px;
}

.color-filter-group {
  margin-bottom: 35px;
}

.bluetooth-filter-group {
  margin-bottom: 46px;
}

.range-input {
  margin-bottom: 35px;
}

.sort-header {
  margin: 0;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--color-black);
  font-family: var(--font-secondary);
  font-size: 16px;
  font-weight: 800;
  line-height: 19px;
}

.catalog-filter {
  margin-right: 60px;
}

.catalog-products-wrapper {
  width: 840px;
}

.catalog-sort-wrapper {
  display: flex;
  justify-content: space-between;
}

.catalog-sort {
  margin-left: auto;
}

.catalog-filter-title {
  letter-spacing: -0.02em;
  color: var(--color-black);
  font-weight: 700;
  line-height: 20px;
}

.catalog-filter-list {
  list-style-type: none;
}

.catalog-filter-item {
  color: var(--color-black);
  font-size: 16px;
  line-height: 19px;
}

.sort-button {
  padding: 10px 11px;
}

.sort-button-up {
  margin-left: auto;
}

.products-pagination-wrapper {
  padding: 70px 40px 78px;
  background-color: var(--color-white);
}

.product-list {
  margin: 0;
  margin-bottom: 44px;
  padding: 0;
  list-style-type: none;
}

.product-link {
  text-decoration: none;
}

.product-title {
  letter-spacing: -0.02em;
  color: var(--color-black);
  font-weight: 700;
  line-height: 20px;
}

.product-price {
  font-weight: inherit;
  line-height: 21px;
}

.catalog-more-button {
  display: block;
  width: 100%;
  margin-bottom: 44px;
  padding: 18px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: var(--color-white);
  font-family: var(--font-secondary);
  font-size: 16px;
  line-height: 19px;
}

.pagination-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 71px;
  background-color: var(--color-lightgrey);
}

/* Стили для пагинации продуктов */

.pagination-list {
  display: flex;
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  opacity: 0.3;
  font-size: 16px;
  line-height: 20px;
}

.pagination-item:not(:last-child) {
  margin-right: 31px;
}

.pagination-link {
  text-decoration: none;
  color: inherit;
}

.pagination-button {
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: var(--font-secondary);
  font-size: inherit;
  font-weight: 800;
  line-height: 21px;
}
